import { Command } from "../../class/Command";
import { SlashCommandBuilder } from "discord.js";

export default new Command({
    command_data: new SlashCommandBuilder()
        .setName()
        .setDescription()
        .toJSON(),
    run: async (client, interaction, args) => {
        
    }
});
