import { Command } from "../../class/Command";
import { CommandInteraction, CommandInteractionOptionResolver, SlashCommandBuilder } from "discord.js";
import { TypeScriptBot } from "../../class/TypeScriptBot";

export default new Command({
    command_data: new SlashCommandBuilder()
        .setName()
        .setDescription()
        .toJSON(),
    run: async (client: TypeScriptBot, interaction: CommandInteraction, args: CommandInteractionOptionResolver) => {
        
    }
});
